@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    position: relative;
    background-color: hsl(218, 28%, 13%);
}

#container #hero nav{
    display: flex;
    margin-bottom: 40px;
    padding: 50px 40px;
}

#hero{
    background-color: hsl(217, 28%, 15%);
}

#container nav .logo img{
    height: 40px;
}

section{
    padding: 10px 60px;
}

#nav-links{
    list-style-type: none;
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    margin-left: auto;
}

#files{
    margin: 0 0 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

#files img{
    width: 38%;
}

#nav-links .link a,
#nav-links .link a:visited{
    color: hsla(0, 0%, 100%, 0.725);
    font-family: 'Open Sans';
    text-decoration: none;
}

#nav-links .link a:hover{
    color: #fff;
    text-decoration: underline;
}

#files h2{
    margin: 14px 0;
    text-align: center;
    color: #fff;
    width: 45%;
    font-size: 32px;
    font-family: 'Open Sans';   
}

#files p{
    width: 46%;
    margin: 20px 0;
    font-size: 18px;
    padding: 0 98px;
    text-align: center;    
    font-family: 'Open Sans';
    color: hsla(0, 0%, 100%, 0.71);
}

#btn{
    width: 14%;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 14px 0;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 30px;
    background: linear-gradient(to right, #65e2d9, #339ecc);
}

#btn:hover{
    cursor: pointer;
    background: #8bd1db;
}

#features{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 60px;
    margin: 0 0 6rem 0;
}

.feature{
    margin-bottom: 22px;
}

#features #access-files,
#features #collaboration,
#features #security,
#features #storage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .head{
    margin: 10px 0;
    color: #fff;
    font-size: 22px;
    font-family: 'Open Sans';
}

#features p{
    color: hsla(0, 0%, 100%, 0.71);
    font-size: 14px;
    font-family: 'Open Sans';
}

#features #access-files p{
    padding: 0 24px;
    text-align: center;
}

#features #collaboration p,
#features #access-files p,
#features #security p,
#features #storage p{
    width: 50%;
}

#features #collaboration p{
    padding: 0 10px;
    text-align: center;
}

@media (max-width: 1440px) {
    #files h2{
        width:46%;
    }
    #files p{
        padding: 0 40px;
    }
    #features #access-files p{
        padding: 0 24px;
        padding: 0 10px;
        width: 54%;
    }
    #features #collaboration p,
    #features #access-files p,
    #features #security p,
    #features #storage p{
        padding: 0 24px;
    }
    #features #collaboration p{
        padding: 0;
        width: 54%;
    }
    #features #security p{
        padding: 0 10px;
        width: 60%;
    }
    #features #storage p{
        padding: 0;
        width: 54%;
    }
    #about-work p{
        width: 82%;
    }
}

#features #security p{
    padding: 0 6px;
    text-align: center;
}

#features #storage p{
    padding: 0 12px;
    text-align: center;
}

#about-work{
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12rem;
}

#about-work #img{
    margin-right: 45px;
}

#about-work h2{
    width: 50%;
    font-size: 30px;
    color: #fff;
    font-family: 'Open Sans';
}

#about-work p{
    width: 62%;
    line-height: 20px;
    color: hsla(0, 0%, 100%, 0.71);
}

#para{
    font-family: 'Open Sans';
    margin-bottom: 20px;
}

#about-work .para1{
    margin: 20px 0;
}

#link a,
#link a:visited{
    position: relative;
    padding: 0 0 6px 0;
    color: hsl(176, 52%, 60%);
    font-size: 18px;
    font-family: 'Open Sans';
    text-decoration: none;
    border-bottom: 1px solid hsl(176, 32%, 41%);
    margin-right: 0;
}

#link a svg{
    margin-bottom: -2px;
}

#link a:hover{
    color: hsla(0, 0%, 100%, 0.71);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.71);
}

#link a:hover > svg > g > g > use{
    fill: hsla(0, 0%, 100%, 0.71);
}

#testimonial{
    margin-bottom: 10rem;
}

#testimonials{
    display: grid;
    color: #fff;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    @media (max-width:375px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.tes{
    display: flex;
    flex-direction: column;
    padding: 32px 0 24px 50px;
    border-radius: 3px;
    background-color:  hsl(219, 30%, 18%);
    @media (max-width:1440px){
        padding: 32px 10px 24px 30px;
    }
}


button{
    outline: none;
}

.tes p{
    width: 82%;
    line-height: 24px;
    margin: 0 0 40px 0;
    font-size: 18px;
    font-family: 'Open Sans';
    color: hsla(0, 0%, 100%, 0.719);
    @media (max-width:1440px){
        width: 98%;
    }
}

.author{
    display: flex;
    align-items: center;
}

#bg-quotes{
    margin: 0 0 -12px -8px;
}

.author img{
    height: 38px;
    width: 35px;
    border-radius: 100%;
    margin-right: 14px;
}

.author-info{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
}

.Name{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.profession{
    font-size: 10px;
    font-family: 300;
    letter-spacing: 1px;
    color: hsla(0, 0%, 100%, 0.771);
}

footer{
    padding: 40px;
    margin-top: 20rem;
    position: relative;
    background-color: hsl(216, 53%, 9%);
}


#sign-up{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translate(-50%,-50%);
}

#inner{
    width: 70%;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    background-color: hsl(217, 28%, 15%);
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.2);
    @media (max-width:1440px){
        width: 70%;
    }
}

#sign-up h2{
    color: #fff;
    font-size: 36px;
    font-family: 'Open Sans';
}

#sign-up p{
    width: 66%;
    margin: 30px 0;
    text-align: center;
    font-family: 'Open Sans';
    color: hsla(0, 0%, 100%, 0.71);
    @media (max-width:1440px){
        width: 78%;
    }
}

#sign-up #Email button{
    width: 25%;
    color: #fff;
    border: none;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    font-family: 'Open Sans';
    background-color: #4ecfe3;
    @media (max-width:1440px){
        width: 32%;
    }
}

#sign-up #Email button:hover{
    cursor: pointer;
    background-color: #8bd1db;
}

#Email{
    width: 80%;
    display: flex;
}

#Email input{
    width: 68%;
    border: none;
    margin-right: 30px;
    border-radius: 30px;
    padding: 5px 0 5px 30px;
    outline: none;
    @media (max-width:1440px) {
        width: 74%;
    }
}

#Email input::placeholder{
    font-weight: 600;
    color: rgba(128, 128, 128, 0.367);
}

#error{
    width: 74%;
    color: hsl(0, 100%, 63%);
    font-size:13px;
    font-weight: 600;
    text-align: left;
    font-family: 'Open Sans';
    margin-top: 10px;
    display: none;
}

#clear{
    height: 1px;
    margin-bottom: 8rem;
}

#footer-logo img{
    width: 140px;
    margin: 20px 0 40px 60px;
}

.contact{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.contact .location{
    grid-column: 1/5;
}

.contact .contact-us {
    padding: 0;
    grid-column: 5/7;
}

.contact .navfooter {
    grid-column: 8/9;
}

.contact .navinfo {
    grid-column: 9/10;
}

.contact .navsocial {
    grid-column: 10/13;
}

.box-contact{
    display: flex;
}

.navlist,
.navsocial__menu{
    list-style-type: none;
}

.box-contact{
    width: 90%;
    line-height: 23px;
    font-family: 'Open Sans';
    color: hsla(0, 0%, 100%, 0.771);
}

.box-contact__icon{
    height: 20px;
    margin: 6px 20px 0 0;
}

.contact-us .box-contact{
    margin-bottom: 18px;
    color: hsla(0, 0%, 100%, 0.771);
}

.contact-us .box-contact p{
    padding-top: 4px;
}

.navlist__link,
.navlist__link:visited{
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.771);
    font-family: 'Open Sans';
}

.navlist__link:hover{
    color: #fff;
}

.navlist__menu-item{
    margin-bottom: 28px;
}

.navsocial__menu{
    display: flex;
    justify-content: center;
}

.navsocial__link svg{
    height: 35px;
    fill: hsla(0, 0%, 100%, 0.771);
}

.mr{
    margin-right: 14px;
}

.navsocial__link svg:hover{
    fill: hsl(176, 68%, 64%);
}

@media (max-width: 376px){
    #container #hero nav{
        padding: 50px 20px;
        align-items: center;
        margin-bottom: 7px;
    }
    #container nav .logo img{
        height: 30px;
    }
    #container #hero nav #nav-links{
        width: 100%;
        font-size: 14px;
        margin-left: 40px;
    }
    #files{
        background-repeat: no-repeat;
        background-image: url('/images/bg-curvy-mobile.svg');
    }
    #files #intro-img{
        width: 84%;
        margin-bottom: 10px;
    }
    #files h2{
        width: 86%;
        font-size: 24px;
        line-height: 40px;
    }
    #files p{
        width: 100%;
        font-size: 14px;
    }
    #files #btn{
        width: 66%;
    }
    #features{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
    #features .head{
        margin-top: 30px;
    }
    #features #access-files p,
    #features #security p{
        width: 94%;
        padding: 0;
        font-size: 16px;
    }
    #features #collaboration p{
        width: 82%;
    }
    #features #storage p{
        width: 94%;
    }
    section{
        padding: 0;
    }
    #about-work{
        flex-direction: column;
        padding: 0 3rem 0 2rem;
    }
    #about-work #img{
        margin: 0 0 32px 0;
        width: 110%;
    }
    #about-work h2{
        width: 100%;
        font-size: 16px;
    }
    #about-work p{
        width: 100%;
        font-size: 13px;
    }
    #about-work #link a,
    #about-work #link a:visited{
        font-size: 14px;
    }
    #link a svg use{
        background-size: 4px 6px;
    }
    #testimonials{
        width: 100%;
        align-items: center;
        grid-template-columns: 1fr;
    }
    #bg-quotes{
        margin: 0 0 -6px 38px;
        width: 24px;
    }
    .tes{
        width: 86%;
        margin-bottom: 30px;
        justify-self: center;
    }
    .tes p{
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 20px;
    }
    .author img{
        height: 30px;
        width: auto;
    }
    .Name{
        font-size: 14px;
    }
    .profession{
        font-size: 9px;
    }
    #inner{
        width: 90%;
    }
    #sign-up h2{
        font-size: 20px;
    }
    #sign-up p{
        width: 84%;
        margin-top: 10px;
        font-size: 14px;
    }
    #Email{
        flex-direction: column;
    }
    #Email input{
        width: 100%;
        height: 48px;
        margin: 0 0 24px 0;
    }
    #Email input::placeholder{
        font-size: 10px;
    }
    #sign-up #Email button{
        padding: 0;
        width: 100%;
        height: 48px;
        font-size: 14px;
    }
    #footer-logo img {
        width: 60%;
        margin: 30px 0 30px 0;
    }
    #footer-details .contact{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
    .contact .location{
        grid-row: 1/2;
    }
    .box-contact{
        width: 107%;
    }
    .contact .contact-us {
        padding: 0;
        margin-top: -48px;
        grid-row: 2/3;
        grid-column:1/1;
    }
    .contact .navfooter {
        grid-row: 3/4;
        grid-column:1/1;
        margin: -20px 0 30px 0;
    }
    .navfooter a{
        font-size: 18px;
    }
    .contact .navinfo {
        grid-column:1/1;
        grid-row: 4/5;
    }
    .contact .navsocial {
        grid-column:1/1;
        grid-row: 5/6;
    }
    .navlist__menu-item {
        margin-bottom: 12px;
    }
}