@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-repeat: no-repeat;
    background-color: hsl(218, 28%, 13%);
}

#container{
    width: 100%;
    height: 100%;
}

#container nav{
    margin-bottom: 40px;
    padding: 50px 40px;
    display: flex;
    justify-content: space-between;
}

#hero{
    background-color: hsl(217, 28%, 15%);
}

#container nav .logo img{
    height: 40px;
}

section{
    padding: 10px 60px;
}

#nav-links{
    list-style-type: none;
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

#files{
    margin: 0 0 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

#files img{
    width: 38%;
}

#nav-links .link a,
#nav-links .link a:visited{
    color: #ffffffb9;
    text-decoration: none;
}

#nav-links .link a:hover{
    color: #fff;
    text-decoration: underline;
}

#files h2{
    margin: 14px 0;
    text-align: center;
    color: #fff;
    width: 45%;
    font-size: 32px;
    font-family: 'Open Sans';
    @media (max-width:1440px) {
        width:46%;
    }
}

#files p{
    width: 46%;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.819);
    font-size: 18px;
    font-family: 'Open Sans';
    padding: 0 98px;
    margin: 20px 0;
    @media (max-width:1440px) {
        padding: 0 40px;        
    }
}

#btn{
    width: 14%;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 14px 0;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 30px;
    background: linear-gradient(to right, #65e2d9, #339ecc);
}

#btn:hover{
    cursor: pointer;
    background: #8bd1db;
}

#features{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 60px;
    margin: 0 0 6rem 0;
}

#features #access-files,
#features #collaboration,
#features #security,
#features #storage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .head{
    margin: 10px 0;
    color: #fff;
    font-size: 22px;
    font-family: 'Open Sans';
}

#features p{
    color: hsla(0, 0%, 100%, 0.71);
    font-size: 14px;
    font-family: 'Open Sans';
}

#features #access-files p{
    width: 50%;
    @media (max-width:1440px){
        padding: 0 24px;
    }
}

#features #collaboration p,
#features #access-files p,
#features #security p,
#features #storage p{
    width: 50%;
    @media (max-width:1440px){
        padding: 0 24px;
    }
}

#features #access-files p{
    padding: 0 28px;
    text-align: center;
    @media (max-width:1440px){
        padding: 0 10px;
        width: 54%;
    }
}

#features #collaboration p{
    padding: 0 10px;
    text-align: center;
    @media (max-width:1440px){
        padding: 0;
        width: 54%;
    }
}

#features #security p{
    padding: 0 6px;
    text-align: center;
    @media (max-width:1440px){
        padding: 0 10px;
        width: 60%;
    }
}

#features #storage p{
    padding: 0 12px;
    text-align: center;
    @media (max-width:1440px){
        padding: 0;
        width: 54%;
    }
}

#about-work{
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12rem;
}

#about-work #img{
    margin-right: 45px;
}

#about-work h2{
    width: 50%;
    font-size: 30px;
    color: #fff;
    font-family: 'Open Sans';
}

#about-work p{
    color: hsla(0, 0%, 100%, 0.71);
    width: 62%;
    line-height: 20px;
    @media (max-width:1440px) {
        width: 82%;
    }
}

#para{
    font-family: 'Open Sans';
    margin-bottom: 20px;
}

#about-work .para1{
    margin: 20px 0;
}

#link a,
#link a:visited{
    position: relative;
    padding: 0 0 6px 0;
    color: hsl(176, 32%, 41%);
    font-size: 18px;
    font-family: 'Open Sans';
    text-decoration: none;
    border-bottom: 1px solid hsl(176, 32%, 41%);
    margin-right: 0;
}

#link a svg{
    margin-bottom: -2px;
}

#link a:hover{
    color: hsla(0, 0%, 100%, 0.71);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.71);
}

#link a svg :hover{
    fill: hsla(0, 0%, 100%, 0.71);
}

#testimonial{
    margin-bottom: 10rem;
}

#testimonials{
    display: grid;
    color: #fff;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

.tes{
    display: flex;
    flex-direction: column;
    padding: 32px 0 24px 50px;
    border-radius: 3px;
    background-color:  hsl(219, 30%, 18%);
    /* box-shadow: 10px 10px  hsla(220, 28%, 19%, 0.593); */
    @media (max-width:1440px){
        padding: 32px 10px 24px 30px;
    }
}


button{
    outline: none;
}

.tes p{
    width: 82%;
    line-height: 24px;
    margin: 0 0 40px 0;
    font-size: 18px;
    font-family: 'Open Sans';
    color: hsla(0, 0%, 100%, 0.771);
    @media (max-width:1440px){
        width: 98%;
    }
}

.author{
    display: flex;
    align-items: center;
}

#bg-quotes{
    margin: 0 0 -12px -8px;
}

.author img{
    height: 38px;
    width: 35px;
    border-radius: 100%;
    margin-right: 14px;
}

.author-info{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
}

.Name{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.profession{
    font-size: 10px;
    font-family: 300;
    letter-spacing: 1px;
    color: hsla(0, 0%, 100%, 0.771);
}

#sign-up{
    width: 100%;
    display: flex;
    justify-content: center;
}

#inner{
    width: 70%;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    background-color: hsl(217, 28%, 15%);
    @media (max-width:1440px){
        width: 70%;
    }
}

#sign-up h2{
    color: #fff;
    font-size: 36px;
    font-family: 'Open Sans';
}

#sign-up p{
    width: 66%;
    margin: 30px 0;
    text-align: center;
    font-family: 'Open Sans';
    color: hsla(0, 0%, 100%, 0.71);
    @media (max-width:1440px){
        width: 78%;
    }
}

#sign-up #Email button{
    width: 25%;
    color: #fff;
    border: none;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    font-family: 'Open Sans';
    background-color: #4ecfe3;
    @media (max-width:1440px){
        width: 32%;
    }
}

#sign-up #Email button:hover{
    background-color: #8bd1db;
}

#Email{
    width: 80%;
    display: flex;
}

#Email input{
    width: 68%;
    border: none;
    margin-right: 30px;
    border-radius: 30px;
    padding: 5px 0 5px 30px;
    outline: none;
    @media (max-width:1440px) {
        width: 74%;
    }
}

#Email input::placeholder{
    font-weight: 600;
    color: rgba(128, 128, 128, 0.367);
}

#error{
    width: 74%;
    color: hsl(0, 100%, 63%);
    font-size:13px;
    font-weight: 600;
    text-align: left;
    font-family: 'Open Sans';
    margin-top: 10px;
    display: none;
}