@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-repeat: no-repeat;
    background-color: hsl(218, 28%, 13%);
    /* background-image: url('/images/bg-curvy-desktop.svg'); */
}

#container{
    width: 100%;
    height: 100%;
    padding: 50px 30px;
}

#container nav{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

#container nav .logo img{
    height: 40px;
}

#nav-links{
    list-style-type: none;
    display: flex;
    width: 20%;
    justify-content: space-between;
}

#files{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#files img{
    width: 540px;
}

#nav-links .link a,
#nav-links .link a:visited{
    color: #ffffffb9;
    text-decoration: none;
}

#nav-links .link a:hover{
    color: #fff;
    text-decoration: underline;
}

h2{
    text-align: center;
    color: #fff;
    width: 540px;
    font-family: 'Open Sans';
}

p{
    width: 40%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans';
    padding: 0 42px;
    margin: 20px 0;
}

button{
    width: 14%;
    padding: 12px 0;
    border: none;
    border-radius: 30px;
    color: #fff;
    background-color: hsl(176, 58%, 52%);
}

button:hover{
    cursor: pointer;
    background-color: hsl(176, 56%, 69%);
}